<h1>App Harry Potter</h1>
<ul>
  <% @characters.each do |character| %>
    <li>
      <strong>Name:</strong> <%= character.name %><br>
      <strong>Location:</strong> <%= character.location %><br>
      <strong>House:</strong> <%= character.house %><br><br>
    </li>
  <% end %>
</ul>

